body {
    background-color: black;
    background: url(/url);
}

.bg {
    background: url(img/);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .6;
}

#website {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial;
}

#header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #ddd;
    color: black;
    padding-right: 15px;
    padding-left: 15px;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.menu {
    text-align: right;
}

.menu li {
    display: inline-block;
    padding: 5px;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.baner {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 0;
  }

.baner h1 {
  color: white;
  font-size: 60px;
  width: 60%;
}

.baner h2 {
    color: white;
    font-size: 30px;
    width: 70%;
  }