@import url('https://fonts.googleapis.com/css2?family=Liter&family=Nunito:wght@200..1000&family=Roboto:wght@100..900&display=swap');

:root {
    --primary-color: #007BFF;
    --secondary-color: #6C757D;
    --background-color: #F8F9FA;
    --text-color: #343A40;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

#website {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

.baner {
    width: 100%;
    height: 500px;
    background-image: url('img/pozadi.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.baner-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.baner-text p {
    font-size: 24px;
    margin: 10px 0 0;
}

@media (max-width: 768px) {
    .banner-text h1 {
        font-size: 28px;
    }
    .banner-text p {
        font-size: 16px;
    }
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;

}

@media (max-width: 768px) {
    .features {
        grid-template-columns: 1fr;
    }
}

.feature {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.5s;
}

.feature-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.feature:hover {
    transform: scale(1.05);

}

.feature-head svg {
    fill: var(--primary-color);
}

.feature h3 {
    margin: 0;
    color: var(--primary-color);
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 100px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    color: var(--text-color);
}

.container-img {
    width: 100%;
    height: 300px;
}

.container-reverse .container-content {
    margin-bottom: 15px;
}

.container-reverse {
    flex-direction: row-reverse;
    margin: 0 auto;
    padding: 20px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 100px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    color: var(--text-color);
}

.container button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.1s;
}

.button:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.button-reverse:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.container:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.container-reverse:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.container-reverse button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.1s;
}

.container p {
    line-height: 1.6rem;
}

.container-reverse p {
    line-height: 1.6rem;
}

@media (max-width: 768px) {
    .container-img {
        flex-direction: column;
    }
    .container {
    flex-direction: column;
    width: 100%;
    }
    .container-reverse{
    flex-direction: column;
    width: 100%;
    }
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.footer h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--primary-color);
}

.footer-block {
    line-height: 1,5;
    padding: 10px 0;
    color: var(--text-color);  
}

.my-map {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.callta {
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--primary-color); 
}

.callta p {
    color: var(--text-color);  
}

html {
    scroll-behavior: smooth;
}

.cta {
    text-align: center;
    padding: 30px 0px;
}
.theme-primary {
    background-color: var(--primary-color);
    color: white;
}

.theme-primary .btn {
    background-color: white;
    color: var(--primary-color);
}
.btn {
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s;
}

.btn:hover {
    transform: scale(1.1);
    
}

.theme-primary h2 {
    font-size: 30px;
}

.services-text {
    text-align: center;
}

.services-text h2 {
    font-weight: 800;
    font-size: 32px;
}

.services-text p {
    font-size: 20px;
}

@media (max-width: 768px) {
    .footer{
    flex-direction: column;
    
    }
}